img {
  width: 70%;
  height: auto;
  margin: inherit;

}

.scrollspy-example {
    position: relative;
    width: auto;
    height: 350px;
    margin-top: .5rem;
    overflow: auto;
  }

.profile_image {
  height: 200px;
  width: 200px;
}

div#text {
  margin-top: auto;
  margin-left: 50px;
  width: 100%;
}

div#container {
  float: right;
  margin-right: 250px;
  position: relative;
  box-sizing: 600px 600px;
}

.col-sm-8 {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: grey;
}

div#discord {
  float: right;
  margin-right: 20px;
}

div#lecteur_twitch, {
  margin-left: 10px;
  position: relative;
  width: 15%;
}

div#chat_embed {
  float: right;
  position: relative;
  margin-right:385px;
}

.paypal {
  float: left;
  margin-left: 200px;
  position:relative;
}
